.preknow-table-item{
  border-bottom: 1px solid #E0E0E0;
  font-size: 20px;
  padding: 12px 0;
}

.preknow-table-header{
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 8px;
  background-color: #E0E0E0;
}
