<app-header></app-header>
<div class="container mt-4 d-flex flex-wrap">
  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex flex-column">
    <div class="h1 preknow-white">{{user?.fullName}}</div>
    <div class="h6 preknow-white">{{user?.email}}</div>
  </div>
  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex flex-column">
    <table class="table table-borderless overflow-hidden rounded-3">
      <thead>
      <tr>
        <th class="preknow-black preknow-table-header">Ticker</th>
        <th class="preknow-black preknow-table-header">Name</th>
        <th class="preknow-black preknow-table-header">Price</th>
      </tr>
      </thead>
      <tbody>
        @for (list_item of list_items; track list_item) {
          <tr class="preknow-table-item">
            <td class="preknow-black">{{list_item.ticker}}</td>
            <td class="preknow-black">{{list_item.name}}</td>
            <td class="preknow-black">{{list_item.price}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
